---
version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: ":dependabot: github-actions"
      include: "scope"
    cooldown:
      default-days: 7
      exclude:
        - "ministryofjustice/action*"
        - "ministryofjustice/analytical-platform-github-actions*"
    open-pull-requests-limit: 15
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: ":dependabot: devcontainers"
      include: "scope"
    cooldown:
      default-days: 7
      exclude:
        - "ghcr.io/ministryofjustice/devcontainer-feature/*"
    open-pull-requests-limit: 15
